body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 40%;
    height: 250px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

#container div {
    width: 200px;
    height: 200px;
}

div:nth-of-type(3) {
    flex-grow: 3;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;

}

main .sidebar {
    background-color: #003049;
    border: 2px solid white;
    flex: 1 2 100px;
}

main .maincontent {
    background-color: teal;
    flex: 2 1 800px;
}