h1{
    text-align: center;
    font-weight: 400;
    text-decoration: blue underline wavy;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;  
}

p{
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}