h1 {
    background-color: blue;
    border: 5px solid darkblue;
    color: beige;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New';
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: blueviolet;
}
h1:nth-of-type(3n) {
    background-color: magenta;
}
h1:nth-of-type(4n) {
    background-color: lightcoral;
}

section:first-of-type h1:nth-of-type(1) {
    transform: rotate(145deg);
    transform-origin: bottom left;
}

section:first-of-type h1:nth-of-type(2) {
    transform: scale(0.75);
}

section:first-of-type h1:nth-of-type(3) {
    transform: translateX(200px);
}

section:first-of-type h1:nth-of-type(4) {
    transform: translateY(-20px);
    transform: translateX(-200px);
}

section:nth-of-type(2) h1:nth-of-type(1) {
    transform: skew(45deg);
}

section:nth-of-type(2) h1:nth-of-type(2) {
    transform: skew(-45deg) scale(1.5);
}