h1 {
    background-color: palegoldenrod;
    border: 1px black solid;
    width: 100px;
    height: 200px;
    padding: 5px;
    margin: 10px;
    display: none;
}

span {
    background-color: paleturquoise;
    border: 1px black solid;
    display: inline-block;
    width: 500px;
    padding: 50px;
    margin: 50px;
}

div {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px black solid;
    margin: 25px;
    display: inline-block;
}