div {
    width: 250px;
    height: 200px;
    background-color: aqua;
}

h1 {
    background-color: blueviolet;
    height: 150px;
    margin: 0px;
}

span {
    margin-left: 50px;
    margin-top: 100px;
}

#one {
    background-color: brown;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    padding: 24px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#two {
    background-color: darkgoldenrod;
    border-width: 3px;
    border-color: aqua;
    border-style: dotted;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 25px;
}

#three {
    background-color: darkkhaki;
    border: 4px solid gold;
    box-sizing: border-box;
    border-left-width: 8px;
    border-radius: 25%;
}

button {
    padding: 20px;
}