#top {
    width: 80%;
    height: 800px;
    background-image: url(https://images.unsplash.com/photo-1648665336176-7cb286e77d63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2022&q=80);
    background-size: cover;
    background-position: center;
    margin: auto;
}

#bottom {
    width: 80%;
    height: 800px;
    background: url(https://images.unsplash.com/photo-1648665336176-7cb286e77d63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2022&q=80) center/20% no-repeat;

    margin: auto;
}

h1 {
    font-size: 100px;
    color: beige;
}