div {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: turquoise;
}

#static #middle {
    position: static;
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 100px;
}

#absolute #middle {
    position: absolute;
    top: 100px;
}

#fixed #middle {
    position: fixed;
    top: 50px;
}